[submodule "wordpress"]
	path = wordpress
	url = git://github.com/WordPress/WordPress.git
[submodule "wp-content/themes/roots"]
	path = wp-content/themes/roots
	url = https://github.com/roots/roots.git
[submodule "wp-content/themes/responsive"]
	path = wp-content/themes/responsive
	url = https://github.com/cyberchimps/responsive
[submodule "wp-content/themes/wp-maintenance-mode"]
	path = wp-content/themes/wp-maintenance-mode
	url = https://github.com/wp-plugins/wp-maintenance-mode/
[submodule "wp-content/plugins/wp-maintenance-mode"]
	path = wp-content/plugins/wp-maintenance-mode
	url = https://github.com/wp-plugins/wp-maintenance-mode/
[submodule "wp-content/plugins/wp-piwik"]
	path = wp-content/plugins/wp-piwik
	url = https://github.com/wp-mirrors/wp-piwik.git
